{% extends 'shared/layout.html' %}
{% load static %}

{% block title %}
    Forget Password
{% endblock %}

{% block header_references %}
    <link rel="stylesheet" href="{% static 'account_module/login.css' %}">
{% endblock %}


{% block content %}
    <div class="col-md-12 my-5"></div>
    <hr>
    <div class="container" id="loginbox">
        <div class="col-md-12 d-flex justify-content-center" id="login">
            <div class="col-md-6 shadow-lg rounded mt-6 d-flex flex-column justify-content-center">
                <h3 class="p-3 align-self-center">Password Recovery</h3>
                <p>After entering the email address; An email will be sent to you. Click on the link inside it so you can change your password</p>
                <hr>
                <form action="{% url 'forget_password' %}" method="post">
                    {% csrf_token %}
                    {{ forgot_password_form.email.label_tag }}
                    {{ forgot_password_form.email }}
                    {{ forgot_password_form.email.errors }}
                    <button type="submit" class="btn btn-primary btn-block p-2 my-5" >forget password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}