{% extends 'shared/layout.html' %}
{% load render_partial %}

{% block title %}
change password
{% endblock %}

{% block content %}
    <div class="clearfix">{#for make a space#}</div>
    <hr>
    {# main #}
    <div class="clearfix">
        <hr>
    </div>
    <div class="container">
        <div class="row">

            {# links #}
            <div class="col-md-4">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            {# links #}

            {# panel #}
            <div class="col-md-8 pull-right my-5">
                <form action="{% url 'change_password_page' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-danger">Save</button>
                </form>
            </div>
            {# panel #}
            <hr>
        </div>
    </div>
{% endblock %}