<div class="panel panel-info">
    <div class="panel-body">
        <ul class="list-group my-5">
            <li class="list-group-item">
                <a href="{% url 'user_panel_dashboard' %}">user panel</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'edit_profile_page' %}">edit</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'change_password_page' %}">change password</a>
            </li>
        </ul>
    </div>
</div>
