{% extends 'shared/layout.html' %}
{% load static %}

{% block title %}
    Contact Us
{% endblock %}

{% block content %}
    <div class="container">
        <div class="contact col-md-12">
            <h1 class="text-black-50">Contact Us</h1>
        </div>
        <hr class="w-100">
        <div class="col-md-12 d-flex flex-column flex-lg-row">
            <div class="col-md-3">
                <img src="{% static 'images/contact-us_media-inq-icon.jpg' %}" width="100%" alt="mediacontactus">
            </div>
            <div class="col-md-6">
                <form action="{% url 'contact_us_form' %}" method="post" class="col-md-12" enctype="multipart/form-data">
                    {% csrf_token %}


                    {% for field in form %}
                        <div class="col-md-12 form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}


                    {##}
{#                    <div class="col-md-12 form-group">#}
                    {#                         {{ form.full_name.label_tag }}#}
                    {#                         {{ form.full_name }}#}
                    {#                         {{ form.full_name.errors }}#}
                    {#                    </div>#}
                    {##}
                    {#                    <div class="col-md-12 form-group">#}
                    {#                        {{ form.email.label_tag }}#}
                    {#                        {{ form.email }}#}
                    {#                        {{ form.email.errors }}#}
                    {#                    </div>#}
                    {##}
                    {#                    <div class="col-md-12 form-group">#}
                    {#                        {{ form.title.label_tag }}#}
                    {#                        {{ form.title }}#}
                    {#                        {{ form.title.errors }}#}
                    {#                    </div>#}
                    {##}
                    {##}
                    {#                    <div class="col-md-12 form-group">#}
                    {#                        {{ form.message.label_tag }}#}
                    {#                        {{ form.message }}#}
                    {#                        {{ form.message.errors }}#}
                    {#                    </div>#}


                    {#                    <div class="form-group col-md-12">#}
                    {#                        <label for="#name">Name</label>#}
                    {#                        <input type="text" name="name" placeholder="Your Name" class="form-control" required>#}
                    {#                    </div>#}
                    {##}
                    {#                    <div class="form-group col-md-12">#}
                    {#                        <label for="#email">Email</label>#}
                    {#                        <input type="email" name="email" placeholder="Your Email" class="form-control" id="email" required>#}
                    {#                    </div>#}
                    {##}
                    {#                    <div class="form-group col-md-12">#}
                    {#                        <label for="#topic">Title</label>#}
                    {#                        <input type="text" name="title" placeholder="at least 5 charachter" class="form-control" id="topic" required>#}
                    {#                    </div>#}
                    {##}
                    {#                    <div class="form-group col-md-12">#}
                    {#                        <label for="#message">Message</label>#}
                    {#                        <textarea name="message" id="message" required="required" class="form-control" rows="8" cols="4" placeholder="Your message"></textarea>#}
                    {#                    </div>#}

                    <div class="form-group ml-3">
                        <button type="submit" class="btn btn-primary btn-block" value="Submit">submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}